html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto Flex';
    src: url(font/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

:root{
    --MAIN-COLOUR: #fafaf9;
    --BG-COLOUR: #e5e7eb;
	--TEXT-LIGHT: #a3a3a3;
    --ACCENT-1: #0ea5e9;
    --ACCENT-2: #facc15;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

body{
	height: 100vh;
	background-color: var(--MAIN-COLOUR);
	display: grid;
	grid-template-columns: minmax(250px, 20%) 1fr;
}

ul>li{
	list-style: none;
}

/* NAV */

nav{
	background-color: var(--BG-COLOUR);
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;
}

.nav-top{
	display: flex;
	flex-direction: column;
}

.nav-folder-list{
	display: flex;
	flex-direction: column;
}

.nav-projects{
	margin-left: 1rem;
}

/* MAIN */ 

main{
	padding: 3rem;
}

.title-wrapper{
	margin-bottom: 3rem;
}

.title-wrapper>h1{
	font-size: 3rem;
	font-weight: bold;
}

.title-wrapper>p{
	color: var(--TEXT-LIGHT);
}

.project-wrapper>h2{
	color: var(--ACCENT-1);
	font-size: 1.5rem;
	font-weight: bold;
}