html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto Flex';
    src: url(font/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

:root{
    --MAIN-COLOUR: #fafaf9;
    --BG-COLOUR: #e5e7eb;
	--TEXT-LIGHT: #a3a3a3;
    --ACCENT-1: #0ea5e9;
    --ACCENT-2: #facc15;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

body{
	height: 100vh;
	background-color: var(--MAIN-COLOUR);
	display: grid;
	grid-template-columns: minmax(250px, 20%) 1fr;
}

ul>li{
	list-style: none;
}

.close-button{
	cursor: pointer;
	width: 25px;
	height: 25px;
}

/* NAV */

nav{
	background-color: var(--BG-COLOUR);
	display: flex;
	flex-direction: column;
}

.nav-wrapper{
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;
}

.nav-top{
	display: flex;
	flex-direction: column;
}

#nav-folder-list{
	display: flex;
	flex-direction: column;
}

.nav-top li,
.nav-project{
	width: fit-content;
	cursor: pointer;
	margin-left: 1rem;
}

#new-project-open{
	height: 3rem;
	background: var(--ACCENT-1);
	color: var(--MAIN-COLOUR);
	font: inherit;
	font-weight: bold;
	border: none;
	cursor: pointer;
	margin-top: auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.2rem;
}

#new-project-open>img{
	filter: invert(83%) sepia(63%) saturate(2%) hue-rotate(20deg) brightness(105%) contrast(98%);
	height: 30px;
	width: 30px;
}

#new-project-open>p{
	margin-top: 2px;
}

/* MODAL DIALOG */

.modal[open]{
	box-sizing: border-box;
	background-color: var(--MAIN-COLOUR);
	width: 70ch;
	display: flex;
	flex-direction: column;
	border: none;
	border-radius: 2rem;
	padding: 2rem;

}

.modal::backdrop{
	background: black;
	opacity: .4;
}

.modal>h2{
	font-size: 2rem;
	text-transform: uppercase;
	margin-bottom: 1.5rem;
}

.modal>img{
	align-self: flex-end;
}

.modal>form{
	display: flex;
	flex-direction: column;
}

.modal input,
.modal textarea{
	background-color: var(--BG-COLOUR);
	font: inherit;
	border: none;
	border-radius: 1rem;
	padding: 0.3rem 0.8rem;
	margin-bottom: 1rem;
}

.modal textarea{
	resize: vertical;
	min-height: 1.5rem;
}

.modal button{
	align-self: flex-end;
	background-color: var(--ACCENT-1);
	color: var(--MAIN-COLOUR);
	width: 10ch;
	font: inherit;
	font-weight: bold;
	cursor: pointer;
	border: none;
	border-radius: 2rem;
	margin-top: 1rem;
	margin-right: 1rem;
	padding: 1rem 1rem;
}

/* MAIN */ 

main{
	padding: 3rem;
}

.folder-page-wrapper{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.title-wrapper{
	margin-bottom: 3rem;
}

.title-wrapper>h1{
	width: fit-content;
	position: relative;
	font-size: 3rem;
	font-weight: bold;
}

.title-wrapper .edit-project-button{
	cursor: pointer;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 1.5rem;
	right: -3rem;
}

.title-wrapper>p{
	color: var(--TEXT-LIGHT);
}

.projects-list{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.project-item>h2{
	color: var(--ACCENT-1);
	font-size: 1.5rem;
	font-weight: bold;
}

.to-do-list>li{
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.to-do-list>li>p{
	color: var(--TEXT-LIGHT);
	font-size: 0.8rem;
}